<%= form_tag sendgrid_index_path do %>
  <%= text_field_tag :email %>
  <%= submit_tag 'Send Test Email' %>
<% end %>

<hr />

<table>
  <tr>
    <th>Email</th>
    <th>Event</th>
    <th>Reason</th>
  </tr>
  <tbody id="email_histories">
    <%= render @email_histories  %>
  </tbody>

</table>
